* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --yellow_button: rgba(226, 255, 18, 1);
    --yellow_button_hover: rgba(219, 248, 18, 1);
    --grey_button: rgba(243, 243, 243, 1);
    --grey_button_hover: rgba(234, 234, 234, 1);
    --black: black;
    --grey_text: rgba(118, 118, 118, 1);
}


body {
    background-color: white;
}



.columns {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.element {
    margin: 12px;
    border-radius: 6px;
    border-color: transparent;
    white-space: nowrap;
}


.button_start_add {
    background-color: var(--yellow_button);
    padding: 9px 24px 11px;
    width: 195px;
    height: 44px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_start_add:hover {
    background-color: var(--yellow_button_hover);
}


.button_istruction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 24px 11px;
    width: 166px;
    height: 44px;
    background-color: var(--grey_button);
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
    margin: 0px 8px;
}

.button_istruction:hover {
    background-color: var(--grey_button_hover);
}


.input_element {
    box-sizing: border-box;
    width: 184px;
    height: 44px;
    background: var(--grey_button);
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
    padding-left: 16px;
}

.input_element:hover {
    background-color: var(--grey_button_hover);
}

.selector_element {
    box-sizing: border-box;
    width: 184px;
    height: 44px;
    background: var(--grey_button);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #767676;
    padding-left: 16px;
}

.selector_element:hover {
    background-color: var(--grey_button_hover);
}

.small_button {
    box-sizing: border-box;
    width: 69px;
    height: 32px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}


.grey_button {
    background-color: var(--grey_button);
}

.grey_button:hover {
    background-color: var(--grey_button_hover);
}

.yellow_button {
    background-color: var(--yellow_button);
}

.yellow_button:hover {
    background-color: var(--yellow_button_hover);
}

.black_button {
    color: white;
    background-color: black;
}

.black_button:hover {
    background-color: rgba(32, 32, 32, 1);
}



.closeV {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    background-color: var(--grey_button);
}

.closeV::after {
    display: block;
    content: '';
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: var(--black);
    top: 12px;
    right: 19px;
    border-radius: 2px;
    transform: rotate(45deg);
}

.closeV::before {
    display: block;
    content: '';
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: var(--black);
    top: 12px;
    right: 19px;
    border-radius: 2px;
    transform: rotate(-45deg);

}

.closeV:hover {
    background-color: var(--grey_button_hover);
}


.radio {
    display: inline-flex;
    align-items: center;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.radio_input {
    display: none;
}

.radio_radio {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--grey_button);
    background-color: var(--grey_button);
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio_input:hover+.radio_radio {
    background-color: var(--grey_button_hover);
    border-color: var(--grey_button_hover);
}


.radio_radio:hover {
    background-color: var(--grey_button_hover);
    border-color: var(--grey_button_hover);
}

.radio_radio::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: rgb(41, 80, 138);

    transform: scale(0);
}

.radio_input:checked+.radio_radio::after {
    transform: scale(1);
}

.pic_load {
    border: 2px dashed #CCCCCC;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 12px;
    position: relative;
}

.pic_load:hover {
    background: #F3F3F3;
}



.pic_load h1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 28px;
}

.pic_load h2 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--grey_text);
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%);

}

.pic_load_big {
    width: 180px;
    height: 316px;
}

.pic_load_small {
    width: 180px;
    height: 180px;
}

.back {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--grey_text);
}

.back:hover {
    color: black;
}

.enter {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(108, 27, 210, 1);
}

.enter:hover {
    color: rgba(82, 18, 163, 1);
}

.button_how_will_the_add_look {
    width: 327px;
    height: 54px;
    background: var(--grey_button);
    border-radius: 16px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    padding-left: 16px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.button_how_will_the_add_look:hover {
    background: var(--grey_button_hover);
}

.button_how_will_the_add_look_icon {
    position: absolute;
    right: 20px;
}

.policy {
    width: 278px;
    height: 54px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #767676;

}

.policy a {
    color: #767676;
}

.policy:hover a {
    color: black;
    text-decoration: none;
}

.instagram_button {
    box-sizing: border-box;
    width: 327px;
    height: 106px;
    border-radius: 16px;
    background-color: var(--grey_button);
    position: relative;
    padding: 14px 16px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

.instagram_button:hover {
    background-color: var(--grey_button_hover);
}


.status {
    box-sizing: border-box;

    display: flex;
    border-radius: 6px;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 400;
    width: 93px;
    height: 28px;
    margin-bottom: 2px;

}

.black_status {
    background-color: var(--black);
    color: white;

}

.grey_status {
    background-color: transparent;
}

.status_text {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.status_ellipse {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.instagram_button p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.instagram_button h3 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    bottom: 7px;
}

.arrow_icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
}