body{
    background-color: rgb(197, 172, 140);
    height: 90vh;
    display: flex;
    transition: all 500ms;
}

.wrapper{
    border: 2px dashed rgb(241, 58, 58);
    min-width: 69vw;
    min-height: 120px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.pic_input input[type='file']{
    display: none;
    
}

.btn{
    position: absolute;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.image_prevew{
    height: 150px;
    overflow: hidden;
}

.peview_wrapper{
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.delete_pic_button{
    content: '';
    width: 20px;
    height: 20px;
    background-color: rgb(184, 172, 172);
    z-index: 2;
    position: absolute;
    top:5px;
    left: 5px;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 500ms;
}

.peview_wrapper:hover .delete_pic_button{

    opacity: 1;
}

.peview_wrapper:hover .pic_info{
    bottom: 4px;
}



.pic_info{
    height: fit-content;
    position: absolute;
    background-color: rgba(128, 119, 119, 0.705);
    text-align: center;
    width: 100%;
    bottom: -40px;
    transition: all 400ms;
    white-space: nowrap;

    
    
}