body{
    background-color: rgb(197, 172, 140);
    height: 90vh;
    display: flex;
}

.wrapper{
    border: 2px dashed rgb(241, 58, 58);
    width: 90vw;
    min-height: 120px;
    height: fit-content;
    margin: auto;
    position: relative;
    display: grid;
    padding-bottom: 50px;
}

.pic_input input[type='file']{
    display: none;
    
}

.btn{
    position: absolute;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.image_prevew{
    height: 100px;
    margin: 5px;
}