
body{
    background-color: rgb(228, 226, 225);
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --purple: #7B61FF;
    --yellow: rgba(226, 255, 18, 1);
    --grey: rgba(243, 243, 243, 1);
    --red:rgba(255, 47, 18, 1);
    --black: rgba(0,0,0,1);
    --dark_gray: rgba(118, 118, 118, 1)
    ;
}


.block{
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px dashed var(--purple);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    
    
}

.status_block{
    display: flex;
    flex-shrink: 0;
}

.blocks{
    display: flex;
    flex-direction: row;
}

.radio{
    margin: 7px;    
}

.radio label{
    margin-left: 10px;
}

.block2{
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: raw;
    border: 1px dashed var(--purple);
    width: fit-content;
    max-width: 500px;
    border-radius: 5px;
    padding: 5px;
    height: fit-content;
    align-items: center;
    
}

.thingy{
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 3px;
}



.close{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-content: center;
    margin: 5px;
    
}




.close_white{
    background-color: rgba(243, 243, 243, 1);
}
.close_grey{
    background-color: rgba(234, 234, 234, 1);
}

.close:after{    
    content: "\00d7"; /* This will render the 'X' */
    font-size: 40px;
    position: relative;
    left: 9px;
    top: -3px;
}


.closeV{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
}

.closeV::after{
    display: block;
    content: '';
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: var(--black);
    top: 8px;
    right: 19px;
    border-radius: 2px;
    transform: rotate(45deg);
}

.closeV::before{
    display: block;
    content: '';
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: var(--black);
    top: 8px;
    right: 19px;
    border-radius: 2px;
    transform: rotate(-45deg);
    
}

.closeV:hover{
    background-color:  rgba(243, 243, 243, 1);
}

.status{
    margin: 5px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    font-weight: 400;
    height: 28px;
    
}

.black_status{
    background-color: var(--black);
    color: white;

}

.grey_status{
    background-color: transparent;
}

.status_text{
    padding-bottom: 3px;
}

.status_ellipse{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}