/* desktop */
@media only screen and (min-width: 920px) {

   

    header {
        margin: 28px 240px;
    }

    h1 {
        font-size: 56px;
        line-height: 60px;
        font-weight: 700;
    }

    /* h1,5 */
    h4 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
    }

    .p2 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .p3 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }

    .header_1 {
        width: 577px;
        height: 122px;
        margin-top: 160px;
        text-align: center;
    }

    .header_2 {
        width: 636px;
        height: 48px;
        margin-top: 16px;
        margin-bottom: 24px;
        text-align: center;
    }
     
   
    .element {
        box-sizing: border-box;
        position: static;
        

    }

    .mobile_only {
        display: none;
    }
    
    .wrapper{
        width: 100vw;
        align-content: center;
        align-items: center;

    }

    .three_text_blocks {
        margin-left: auto;
        margin-right: auto;
        margin-top: 160px;
        width: 960px;
        height: 324px;
        position: relative;
    }

    .one_of_three_blocks {
        text-align: center;
    }
    
  
    .simple_and_fast {
        position: absolute;
        width: 385px;

        left: 0px;
    }
    
    .effective {
        position: absolute;
        width: 328px;

        right: 0px;
    }
    .free {
        position: absolute;
        width: 382px;
        bottom: 0px;
        margin-left: auto;
        left: 50%;
        transform: translate(-50%);
    }
    .simple_and_fast h2::before{
        width: 166px;
        left: 50%;
        transform: translate(-50%);
    }
    
    .effective h2::before{
        width: 139px;
        left: 50%;
        transform: translate(-50%);
    }
    .free h2::before{
        width: 110px;
        left: 50%;
        transform: translate(-50%);
    }
    

    
}



/* mobiles */
@media only screen and (max-width: 920px) {

   

    h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    p3 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }

    .desktop_only {
        display: none;
    }

    header {
        padding: 28px 24px;
    }

    .header_1 {
        width: 322px;
        height: 112px;
        margin-top: 80px;
        text-align: left;
    }

    .header_2 {
        width: 307px;
        height: 96px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 20px;
    }

    .element_wrapper{
        text-align: left;
    }

    .element {
        margin-left: 24px;
    }
 
    .three_text_blocks{
        margin-left: 24px;
    }
    .one_of_three_blocks{
        margin-bottom: 40px;
        max-width: 307px;
    }

    .simple_and_fast h2::before{
        width: 166px;
       
    }
    
    .effective h2::before{
        width: 139px;
        
    }
    .free h2::before{
        width: 110px;
       
    }

    .pictures {
        position: absolute;
        width: 820px;
        height: 620px;
        box-sizing: border-box;
        left: 50%;
        transform: translate(-50%) scale(0.8);
    }

}