*{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --msg_color: black;
    --msg_box: rgba(243, 243, 243, 1);
}



.blocks{
    display: flex;
    flex-direction: row;
   
}




.block{
    margin: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    height: fit-content;
    width: 400px;
    border: 1px dashed #7B61FF;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}

.msg_block{
    width: 48px;
    height: 32px;
    border-radius: 6px;
    margin: 5px;
    position: relative;
    background: var(--msg_box);
}

.msg_block::after{
    display: block;
    content: '';
    width: 8px;
    height: 6px;
    position: relative;
    top: 0px;
    left: 26px;
    border-right: 2px solid var(--msg_color);
    border-bottom: 2px solid var(--msg_color);
    border-radius: 0px 0px 8px 0px;

}

.msg{
    display: block;
    content: '';
    position: relative;
    top: 8px;
    left: 16px;
    width: 16px;
    height: 13px;
    border-top: 2px solid var(--msg_color);
    border-right: 2px solid var(--msg_color);
    border-left: 2px solid black;
    border-radius: 8px 8px 8px 0px;
}


.msg::before{
    display: block;
    content: '';
    position: relative;
    top: 7.3px;
    right: 2px;
    width: 0px;
    height: 6px;
    border: 1px solid var(--msg_color);
    border-radius: 1px;    
}

.msg::after{
    display: block;
    content: '';
    position: relative;
    right: 5px;
    top: 3px;
    height: 10px;
    width: 12px;
    border-top: 2px solid var(--msg_color);
    border-left: 2px solid transparent;
    border-radius: 10px 0px 0px 0px;
}




.block header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 5px;
}

.button_block{
    width: fit-content;
    height: 32px;
    border-radius: 6px;
    margin: 5px;
    background: var(--msg_box);
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

.button_block_text{
    padding: 7px 16px;
}

.button_block_msg{
    padding: 8px 16px;
}

.buttons{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
}

.targetted{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-left: 5px;
}
  
.targetted::before{
    display: block;
    content: '';
    box-shadow: 0 0 9px 5px yellow;
    position:relative;
    top: 15px;
    width: 90px;
    border-radius: 50%;

}