body{
    background-color: rgb(228, 226, 225);
}



.block{
    margin: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 90vh;
    border: 1px dashed #7B61FF;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    
}



.close{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-content: center;
    margin: 5px;
    transition-duration: 1500ms;
    
    
}



.close:hover{
    transition-duration: 0ms;

    transform: rotate(720deg) scale(1.5);
    background-color: #7B61FF;
}

.close_white{
    background-color: rgba(243, 243, 243, 1);
}
.close_grey{
    background-color: rgba(234, 234, 234, 1);
}

.close:after{    
    content: "\00d7";
    /* This will render the 'X' */
    font-size: 40px;
    position: relative;
    left: 9px;
    top: -3px;
    
}
